<h2>Create an event below!</h2>
<form action="/events/create" method="post">
  <label for="organizer_name"></label>Your name
  <input type="text" name="organizer_name"/><br>

  <label for="organizer_email"></label>Your email
  <input type="email" name="organizer_email"/><br>

  <label for="title"></label>Event title
  <input type="text" name="title"/><br>

  <label for="date"></label>Event date
  <input type="date" name="date"/><br>

  <input type="submit"/>
</form>

